<section class="fixed-bg welcome">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br>


    <div class="container p-5 text1">
        <h1 style="color: white;" class="">WELCOME TO DAY</h1>
        <h4 style="color: white;" class="">We are team of talented designers making websites with Bootstrap</h4>
        <div class="me-xxl-5 p-5">

            <a style="color: white;" class="p-3 btn" href="">Get Started</a>
        </div>
    </div>
</section>
<section>
    <div class="p-5 d-flex container gap-2">
        <div>
            <h2 style="font-size: 25px; color: black;">
                Voluptatem dignissimos provident quasi corporis
                voluptates
                sit
                assumenda.
            </h2>
            <p style="font-style: italic; color: gray;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do
                eiusmod tempor incididunt ut
                labore et dolore magna aliqua.
            </p>
            <p>
                <i class=" fa-solid fa-circle-check"></i>Ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>
            <p>
                <i class=" fa-solid fa-circle-check"></i>Duis aute irure dolor in reprehenderit in voluptate
                velit.
            </p>
            <p>
                <i class=" fa-solid fa-circle-check"></i>Duis aute irure dolor in reprehenderit in voluptate
                velit.
            </p>
            <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
        </div>
        <div>
            <img style="width: 650px; height: 500px;"
                 src="https://bootstrapmade.com/demo/templates/Day/assets/img/about.jpg" alt="">
        </div>
    </div>

    <div class="d-flex container justify-content-center gap-4">

        <div class="cards card" style="width: 20rem;">
            <div class="card-body">
                <h1 class="p-2 text-danger card-title">01</h1>
                <h3 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h3>

                <p class="card-text">
                    Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur
                    ducimus vero placeat
                </p>

            </div>
        </div>
        <div class="cards card" style="width: 20rem;">
            <div class="card-body">
                <h1 class="p-2 text-danger card-title">02</h1>

                <h3 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h3>
                <p class="card-text">
                    Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur
                    ducimus vero placeat
                </p>

            </div>
        </div>
        <div class="cards card" style="width: 20rem;">
            <div class="card-body">
                <h1 class="p-2 text-danger card-title">03</h1>

                <h3 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h3>

                <p class="card-text">
                    Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur
                    ducimus vero placeat
                </p>

            </div>
        </div>

    </div>
</section>

<section class=" clients">
    <div class=" p-3 d-flex gap-5 container justify-content-center">
        <img class="img" style="width: 80px; height: 80px;"
             src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-3.png" alt="">
        <img class="img" style="width: 80px; height: 80px;"
             src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-4.png" alt="">
        <img class="img" style="width: 80px; height: 80px;"
             src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-1.png" alt="">
        <img class="img" style="width: 80px; height: 80px;"
             src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-1.png" alt="">
        <img class="img" style="width: 80px; height: 80px;"
             src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-1.png" alt="">


    </div>
</section>
<section class="p-5 services">
    <div class="container text-center">
        <span style="color: gray;">SERVICES</span>
        <h3>SERVICES</h3>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
    </div>

    <div class="p-4 d-flex container gap-4 justify-content-center">
        <div class="card cards " style="width: 22rem; height: 13rem;">
            <div class="align-items-center p5 text-center card-body">
                <i style="font-size: 40px;" class="fa-solid p-3 fa-basketball"></i>
                <h6 class="p-2 card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
                <p class="card-text">
                    Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                </p>

            </div>
        </div>
        <div class="card cards" style="width: 22rem; height: 13rem;">
            <div class="align-items-center p5 text-center card-body">
                <i style="font-size: 40px;" class="fa-solid p-3 fa-basketball"></i>
                <h6 class="p-2 card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
                <p class="card-text">
                    Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                </p>

            </div>
        </div>
        <div class="card cards" style="width: 22rem; height: 13rem;">
            <div class="align-items-center p5 text-center card-body">
                <i style="font-size: 40px;" class="fa-solid p-3 fa-basketball"></i>
                <h6 class="p-2 card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
                <p class="card-text">
                    Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                </p>

            </div>
        </div>
    </div>
    <div class="d-flex container gap-4 justify-content-center">
        <div class="card cards" style="width: 22rem; height: 13rem;">
            <div class="align-items-center p5 text-center card-body">
                <i style="font-size: 40px;" class="fa-solid p-3 fa-basketball"></i>
                <h6 class="p-2 card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
                <p class="card-text">
                    Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                </p>

            </div>
        </div>
        <div class="card cards " style="width: 22rem; height: 13rem;">
            <div class="align-items-center p5 text-center card-body">
                <i style="font-size: 40px;" class="fa-solid p-3 fa-basketball"></i>
                <h6 class="p-2 card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
                <p class="card-text">
                    Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                </p>

            </div>
        </div>
        <div class="card cards" style="width: 22rem; height: 13rem;">
            <div class="align-items-center p5 text-center card-body">
                <i style="font-size: 40px;" class="fa-solid p-3 fa-basketball"></i>
                <h6 class="p-2 card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
                <p class="card-text">
                    Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                </p>

            </div>
        </div>
    </div>
</section>

<section class="call">
    <div class="p-5 container text-center">
        <h1 style="color: white;">Call To Action</h1>
        <p style="color: white;">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
        <a style="color: white;" class="btn" href="">Call To Action</a>

    </div>
</section>

<section>
    <div class="p-5 container text-center">
        <h2>PORTFOLIO</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
    </div>
    <div class=" category p-3 text-center justify-content-center d-flex gap-4">
        <div class="ss1" data-target="1">

            <p>All</p>
        </div>
        <div class="ss" data-target="2">

            <p>App</p>
        </div>
        <div class="ss" data-target="3">

            <p>Card</p>
        </div>
        <div class="ss" data-target="4">

            <p>Web</p>
        </div>


    </div>
    <div class="container text-center">


        <div class="row">
            <div data-id="1" class="portofiloimg col-sm-4 position-relative">
                <img width=250; height=250;
                     src="https://bootstrapmade.com/demo/templates/Day/assets/img/portfolio/portfolio-1.jpg"
                     alt="">
                <div class="position-absolute bg-light" style="margin-left: 100px; margin-top: -90px;">
                    <p>Salam</p>
                    <p>description</p>
                </div>
            </div>
            
           
           
        </div>
    </div>
</section>

<section>
    <div class="container text-center p-5">
        <h1>PRICING</h1>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
    </div>
    <div class=" container text-center d-flex justify-content-center">
        <div class="t1 card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div style="color: black;" class="t1 card-header">Free</div>
            <div class="t1 card-body">
                <h1 style="color: black;" class="card-title">$0 / month</h1>
                <p style="color: black;" class="card-text">Aida dere</p>
                <p style="color: black;" class="card-text">Nec feugiat nisl</p>
                <p style="color: black;" class="card-text">Nulla at volutpat dola</p>
                <p style="color: black;" class="card-text"></p>
                <p style="color: black;" class="card-text">Nulla at volutpat dola</p>
                <a style="color:  black; background-color: red;" class="btn" href="">Buy Now</a>
            </div>
        </div>
        <div class="t2 card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div style="color: black;" class="t2 card-header">Free</div>
            <div class="t2 card-body">
                <h1 style="color: black;" class="card-title">$0 / month</h1>
                <p style="color: black;" class="card-text">Aida dere</p>
                <p style="color: black;" class="card-text">Nec feugiat nisl</p>
                <p style="color: black;" class="card-text">Nulla at volutpat dola</p>
                <p style="color: black;" class="card-text"></p>
                <p style="color: black;" class="card-text">Nulla at volutpat dola</p>
                <a style="color:  black; background-color: red;" class="btn" href="">Buy Now</a>
            </div>
        </div>
        <div class="t1 card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div style="color: black;" class="t1 card-header">Free</div>
            <div class="t1 card-body">
                <h1 style="color: black;" class="card-title">$0 / month</h1>
                <p style="color: black;" class="card-text">Aida dere</p>
                <p style="color: black;" class="card-text">Nec feugiat nisl</p>
                <p style="color: black;" class="card-text">Nulla at volutpat dola</p>
                <p style="color: black;" class="card-text"></p>
                <p style="color: black;" class="card-text">Nulla at volutpat dola</p>
                <a style="color:  black; background-color: red;" class="btn" href="">Buy Now</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div class="container text-center p-5">
        <h1>Team</h1>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
    </div>
    <div>
        <div class="container d-flex gap-5 card-group text-center">
            <div class="card  align-items-center">
                <img style="width: 200px; height: 200px; border-radius: 50%;"
                     class="align-items-center card-img-top"
                     src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-1.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card  align-items-center">
                <img style="width: 200px; height: 200px; border-radius: 50%" class="card-img-top"
                     src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-1.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card  align-items-center">
                <img style="width: 200px; height: 200px; border-radius: 50%" class="card-img-top"
                     src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-1.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal
                        height action.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="p-5 container text-center">
        <h1>CONTACT</h1>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
    </div>
    <div class="d-flex container gap-5 text-center justify-content-center">
        <div class="location text-center">
            <i style="font-size: 35px;" class="p-2 fa-solid fa-location-dot"></i>
            <h1>Our Adress</h1>
            <p>A108 Adam Street, New York, NY 535022</p>
        </div>
        <div class="email text-center">
            <i style="font-size: 35px;" class="p-2 fa-solid fa-location-dot"></i>
            <h1>email us</h1>
            <p>dunyagbdfjasb</p>
        </div>
        <div class="calls text-center">
            <i style="font-size: 35px;" class="p-2 fa-solid fa-location-dot"></i>
            <h1>call us</h1>
            <p>dunyagbdfjasb</p>
        </div>
    </div>
    <div class="d-flex container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24319.80818457579!2d49.81804225!3d40.365056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dbd50990a71%3A0xa19c1583bb1dac00!2sNizami!5e0!3m2!1sen!2s!4v1655458821471!5m2!1sen!2s"
                width="650" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="inputs text-center ">
            <div class="p-3 d-flex gap-1 text-center justify-content-center">
                <input style="width: 295px; height: 30px;" type="text " placeholder="Your Name">
                <input style="width: 295px; height: 30px;" type="text " placeholder="Your Name">

            </div>

            <input class="p-3" style="width: 600px; height: 30px;" type="text" placeholder="subject"><br>
            <input class="p-3" style="width: 600px; height: 250px;" type="text" placeholder="Mesaage">

        </div>
    </div>
</section>